catkin_pkg==1.0.0
catkin_pkg_modules==1.0.0
cv_bridge==1.16.2
genpy==0.6.15
gTTS==2.5.0
numpy==1.23.5
numpy==1.17.4
opencv_python==4.8.1.78
playsound==1.3.0
qi==3.0.0
Requests==2.32.2
ros_numpy==0.0.5
rospy==1.16.0
scipy==1.11.4
sensor_msgs==1.13.1
SpeechRecognition==3.10.1
std_msgs==0.0.1
