<launch>
    <arg name="node_start_delay" default="2.0" /> 
    <node pkg="project_work" type="speech2text.py" name="speech2text_service" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="project_work" type="audio_analysis_node.py" name="audio_analysis" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="project_work" type="s2t_node_test.py" name="speech2text_test" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>  
</launch>