<launch>
    <arg name="node_start_delay" default="60.0"/>  
    <node pkg="rasa_ros" name="rasa_action" type="rasa_action.sh" output="screen"/>
    <node pkg="rasa_ros" name="rasa_server" type="rasa_server.sh" output="screen"/> 
    <node pkg="rasa_ros" name="dialogue_server" type="dialogue_server.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

    <node pkg="project_work" type="audio_detected.py" name="audio_detected" output="screen" />
    <node pkg="project_work" type="speech2text.py" name="speech2text" output="screen"/>
    <node pkg="project_work" type="image_publisher.py" name="image_publisher" output="screen"/>
    <node pkg="project_work" type="video_detector.py" name="video_detector" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="project_work" type="manager.py" name="manager" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>
